*{
    margin: 0;
    padding: 0;
}
.landing-page{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0, 0, 0, 0.644)), url(./home.jpg);
    background-attachment: fixed;
    position: relative;
    height: 100vh;
    background-size: cover;
}
#contact-us{
    color: honeydew;
    margin: auto 0;
    padding: 2em;
    text-align: center;
}

.form-contact-us{
    margin-top: 2em;
    margin-left: 25%;
    width: 50%;
    text-align: center;
}

.inputan {
    width: 85%;
    text-align: left;
    display: block;
    margin: 0 auto;
}

.inputan > label {
    display: block;
    font-size: 1.2em;
}

.inputan > input, .inputan > textarea {
    width: 100%;
    margin: .5em 0;
    font-size: 1em;
}

.kirim {
    width: 25%;
    margin: 1em 0;
    border: none;
    background-color: teal;
    color: white;
    font-size: 1em;
    padding: .5em 0;
}

footer{
    color: white;
    background-color: rgb(110, 163, 145);
    text-align: center;
    padding: 1.5em 0;
    margin-top: 2em;
}

@media only screen and (max-width: 600px) {
    .form-contact-us{
        margin: 20px auto;
    }
}