*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
} 

p{
    font-weight: 100;
}

hr {
    max-width: 90%;
    margin: 0 auto;
}

.landing-page{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0, 0, 0, 0.644)), url(./home.jpg);
    background-attachment: fixed;
    position: relative;
    height: 90vh;
    background-size: cover;
}

.welcome {
    position: absolute;
    margin: 0;
    color: white;
    font-family: monospace;
    font-weight: bolder;
    font-size: 50px;
    width: 100%;
    top: 40%;
    text-align: center;
    text-decoration: underline;
}

/* navbar */
ul.nav {
    position: sticky;
    top: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
    background-color: rgb(110, 163, 145);;
}

.nav > li {
    display: inline-block;
    margin: auto;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.nav > li > a {
    padding: 1em 2em;
    display: inline-block;
    text-decoration: none;
    color: white;
    transition: .5s;
}

.nav > li > a:hover {
    background-color: teal;
}

.kembali{
    float: left;
}

/* Materi */
.materi{
    text-align: center;
}

.deskripsi, .makanan, .berkembang, .punah{
    padding: 4em;
}

/* deskripsi */
.deskripsi{
    max-width: 75%;
    margin: auto;
}

.konten-deskripsi{
    font-size: 1.2em;
    width: 80%;
    max-width: 24em;
    margin: 1em auto;
    text-align: justify;
}

/* makanan */
.konten-makanan{
    font-size: 1.2em;
    width: 80%;
    max-width: 24em;
    margin: 1em auto;
    text-align: justify;
}

.herbivora, .karnivora{
    display: inline-block;
    margin-top: 3em;
    vertical-align: top;
}

.omnivora{
    margin-top: 3em;
}

/* berkembang biak */
.konten-berkembang{
    font-size: 1.2em;
    width: 80%;
    max-width: 24em;
    margin: 1em auto;
    text-align: justify;
}

.ovipar, .vivipar{
    display: inline-block;
    margin-top: 3em;
    vertical-align: top;
}

.ovovivipar{
    margin-top: 3em;
}

/* terancam punah */
.img-punah{
    max-width: 12em;
    min-height: 10em;
    max-height: 10em;
}

.container{
    width: 100%;
}
.monyet, .ajg, .lumba{
    margin-top: 2em;
    display: inline-block;
    border: solid;
    margin-left: 0.5em;
    min-width: 285px;
}

.kerang, .dodo, .sapi{
    margin-top: 2em;
    display: inline-block;
    border: solid;
    margin-left: 0.5em;
    min-width: 285px;
}

.quagga, .rusa, .elang{
    margin-top: 2em;
    display: inline-block;
    border: solid;
    margin-left: 0.5em;
    min-width: 285px;
    vertical-align: bottom;
}

/* footer */
footer {
    text-align: center;
    margin-top: 2em;
    padding: 1.5em 0;
    color: white;
    background-color: rgb(110, 163, 145);
}
