*{
    margin: 0;
    padding: 0;
}
.landing-page{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0, 0, 0, 0.644)), url(./home.jpg);
    background-attachment: fixed;
    position: relative;
    height: 90vh;
    background-size: cover;
}

.welcome {
    position: absolute;
    margin: 0;
    color: white;
    font-family: monospace;
    font-weight: bolder;
    font-size: 50px;
    width: 100%;
    top: 40%;
    text-align: center;
    text-decoration: underline;
}

/* navbar */
ul.nav{
    position: sticky;
    list-style: none;
    text-align: right;
    padding: 0;
    top: 0;
    margin: 0;
    background-color: rgb(63, 117, 99);
}

.nav > li{
    display: inline-block;
    font-size: 1em;
    padding: 1em;
    margin: auto;
}

.nav > li > a{
    text-decoration: none;
    color: azure;
    padding: 5px 20px;
    font-weight: 400;
    padding: 1.2em;
}

li.kembali{
    float: left;
}

li :hover{
    background-color: rgb(187, 207, 207);
    color: rgb(110, 163, 145);
}

/* materi */
.materi{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.deskripsi, .berkembang, .punah{
    padding: 2em;
}

.konten-deskripsi{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    width: 50%;
    font-size: 1em;
    margin: auto;
    margin-top: 1.2em;
    word-spacing: 2px;
}


.container{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    padding: 2em;
    flex-wrap: wrap;
}

/* .herbivora, .karnivora{
    display: inline-block;
    width: 40%;
    margin: auto;
    margin-left: 5em;
    border: groove 0.2em;
} */

.konten-makanan {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    width: 80%;
    max-width: 24em;
    margin: 1em auto;
    text-align: justify;
}

.ovipar, .vivipar{
    display: inline-block;
    width: 40%;
    margin: auto;
    margin-left: 5em;
}

.konten-berkembang {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    width: 80%;
    max-width: 24em;
    margin: 1em auto;
    text-align: justify;
}

.img-punah{
    max-width: 12em;
    min-height: 10em;
    max-height: 12em;
}

.monyet-merah, .lumba-lumba, .anjing-laut, .kerang-pigtoe, .dodo, .sapi-laut, .quagga, .rusa, .elang{
    display: inline-block;
    border: groove 0.2em;
    text-align: center;
    padding: 20px;
    padding-top: 0px;
    margin: 20px;
    min-width: 20em;
    min-height: 20em;
}

footer{
    color: white;
    background-color: rgb(110, 163, 145);
    text-align: center;
    padding: 1.5em 0;
    margin-top: 2em;
}


/* responsif */
.hp{
    display: none;
}

@media only screen and (max-width : 985px){
    html{
        font-size: 12px;
    }

    .hp {
        display: block;
    }

    .dekstop{
        display: none;
    }

    .materi{
        max-width: 80%;
    }
}